<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
      <h2 class="mb-4 display-5 text-center">Our Employees</h2>
      <p class="text-secondary mb-5 text-center lead fs-4">We are a group of innovative, experienced, and proficient teams. You will love to collaborate with us.</p>
      <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
    </div>
  </div>
</div>

<section class="team-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let employee of employees; let i = index">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="card-img-top" loading="lazy" [src]="employee.imageUrl" alt="Employee Image {{i + 1}}">
              <figcaption class="m-0 p-4">
                <h4 class="mb-1">{{employee.name}}</h4>
                <p class="text-secondary mb-0">{{employee.position}}</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
