<section class="background">
  <h1 class="header">Better Coffee. Because you deserve better.</h1>
  <p class="tagline">Our best sellers</p>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let product of products">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden h-100">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="card-img-top fixed-size" loading="lazy" [src]="product.image" [alt]="product.title">
              <figcaption class="m-0 p-4">
                <h5 class="card-title mb-1">{{ product.title }}</h5>
                <p class="card-text text-secondary mb-0">{{ product.description }}</p>
                <p class="card-text text-muted"><small>{{ product.price }}</small></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="special">Holiday Special.</h1>
  <marquee [scrollAmount]="23" class="spec">Special flavors only available until December 31 2024.</marquee>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let special of specials">
        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden h-100">
          <div class="card-body p-0">
            <figure class="m-0 p-0">
              <img class="card-img-top fixed-size" loading="lazy" [src]="special.image" [alt]="special.title">
              <figcaption class="m-0 p-4">
                <h5 class="card-title mb-1">{{ special.title }}</h5>
                <p class="card-text text-secondary mb-0">{{ special.description }}</p>
                <p class="card-text text-muted"><small>{{ special.price }}</small></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
