.background {
  background-color: #f8f5f2; /* Light background color */
  padding: 50px 0;
}

.header {
  font-size: 2.5rem;
  text-align: center;
  color: #fff; /* Coffee color */
  margin-bottom: 20px;
}

.tagline {
  font-size: 1.5rem;
  text-align: center;
  color: #fff; /* Coffee color */
  margin-bottom: 40px;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: auto;
}

.fixed-size {
  width: 100%;
  height: 400px; /* Fixed height for all images */
  object-fit: cover; /* Ensure images cover the area without distortion */
}

.card-body {
  border-radius: 10px;
  background-color: #FFFDD0; /* White background for cards */
  padding: 1em;
}

.card-title, .card-text {
  text-align: center;
  color: #333;
}

.card-title {
  font-size: 1.25rem;
  color: #6f4e37; /* Coffee color */
}

.card-text small {
  color: #999;
}

.special {
  text-align: center;
  color: #fff; /* Coffee color */
  margin-top: 40px;
}

.spec {
  font-size: 1.2rem;
  color: #fff; /* Coffee color */
  margin-bottom: 40px;
}
