<section class="background">
  <h1 class="header">Better Coffee. Because you deserve better.</h1>
  <p class="tagline">Our best sellers</p>

  <div class="card-group">
    <div class="card">
      <img [src]="image1" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Iced Americano</h5>
        <p class="card-text">A classic</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="image2" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Caramel Macchiato</h5>
        <p class="card-text">Diabetes in a cup.</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="image3" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Mocha Latte</h5>
        <p class="card-text">WOW</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
  </div><div class="card-group">
    <div class="card">
      <img [src]="image4" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">SeaSalt Latte</h5>
        <p class="card-text">Type 2 Diabetes</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="image5" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Espresso</h5>
        <p class="card-text">No sleeping.</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="image6" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Matcha Green Tea</h5>
        <p class="card-text">Yes, it's made of grass.</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
  </div>
  <h1 class="special">Meals and Sandwiches.</h1>

  <div class="card-group">
    <div class="card">
      <img [src]="food1" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Krabby Patty</h5>
        <p class="card-text">YAYAYYAYA.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="food2" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Kelp Jerky</h5>
        <p class="card-text">U thought it's made of beef?</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="food3" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Chum Bucket</h5>
        <p class="card-text">Ew</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img [src]="food4" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Pretty Patties</h5>
        <p class="card-text">Fabulous</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="food5" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Balone</h5>
        <p class="card-text">Atleast it's not a Hot Dog</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="food6" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Barnicle Boy and Mermaid man Happy Meal</h5>
        <p class="card-text">For children's 10 and above (Birth certificate required.)</p>
        <p class="card-text"><small class="text-muted">P1000</small></p>
      </div>
    </div>
  </div>

  <h1 class="special">Holiday Special.</h1>
  <marquee [scrollAmount]="23" class="spec">Special flavors only available until December 31 2024.</marquee>

  <div class="card-group">
    <div class="card">
      <img [src]="spec1" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Melon infused Espresso</h5>
        <p class="card-text">Constipation.</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="spec2" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Mountain Dew Latte</h5>
        <p class="card-text">Acid Level 1000.</p>
        <p class="card-text"><small class="text-muted">P100</small></p>
      </div>
    </div>
    <div class="card">
      <img [src]="spec3" [width]="wi" [height]="hi" [alt]="alt">
      <div class="card-body">
        <h5 class="card-title">Pizza Patty</h5>
        <p class="card-text">A Kidney Problem.</p>
        <p class="card-text"><small class="text-muted">P500</small></p>
      </div>
    </div>
  </div>
  </section>


