<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MMCR Coffee Shop</title>

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body>


    <section class="hero-banner">
      <div class="hero-content">
          <h1>Welcome to {{ title }}</h1>
          <p>Your perfect blend of coffee and relaxation.</p>
          <a class="btn btn-primary btn-xl" href="../product/">Buy Now!</a>
      </div>
  </section>




</body>
