<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MMCR Coffee Shop</title>

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body>


    <section class="hero-banner">
      <div class="hero-content">
          <h1>Welcome to {{ title }}</h1>
          <p>Your perfect blend of coffee and relaxation.</p>
          <a class="btn btn-primary btn-xl" routerLink="/product">Buy Now!</a>
      </div>
  </section>




  <div class="background">
    <section class="page-section clearfix">
      <div class="container">
          <div class="intro">

              <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">Welcome to MMCR</span>

                  </h2>
                  <p class="mb-3">{{ description }}</p>


              </div>
          </div>
      </div>
  </section>


  <section class="page-section cta">
      <div class="container">
          <div class="row">
              <div class="col-xl-9 mx-auto">
                  <div class="cta-inner bg-faded text-center rounded">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Our Promise</span>
                      </h2>
                      <p class="mb-0">{{ promise }}</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>



</body>
